<?xml version="1.0"?>
<config>
    <modules>
        <CartObserver>
            <version>0.1</version>
        </CartObserver>
    </modules>

    <global>
        <models>
            <cart_observer>
                <class>CartObserver_Model</class>
            </cart_observer>
        </models>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <addtocartobserver>
                        <class>cart_observer/addedproduct</class>
                        <method>handle</method>
                    </addtocartobserver>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </global>
</config>
